<!doctype html>
<html class="no-js" ng-app="angularProjectApp">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" type="text/css" href="styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/common.css">
  <!-- endbuild -->
</head>
<body ng-controller="MainCtrl as main">
<header>
  <a class="logo">
    <img src="images/logo.png">
  </a>
  <nav class="navigationMenu">
    <ul>
      <li >
        <a href="#">JAVASCRIPT</a>
      </li>
      <li>
        <a href="#">CSS</a>
      </li>
      <li class="active">
        <a href="#">LATEST</a>
      </li>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">DESIGN</a>
      </li>
    </ul>
    <div class="aboutIcon">
      <a href="#">?</a>
    </div>
    <div class="lookIcon">
      <a href="#">!</a>
    </div>
    <div class="pencilIcon">
      <a href="#"><img src="images/pencil.png"></a>
    </div>
    <div class="mobileListIcon">
      <a href="#"><img src="images/mobileMenu.jpg"></a>
    </div>
    <p class="mobileNavTitle">JAVASCRIPT</p>
  </nav>
</header>
<div class="content">
  <aside>
    <div class="sideArticle">
      <h2 class="about">About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur deserunt dolore doloribus
        earum fuga hic illo illum, in laboriosam maiores mollitia necessitatibus nobis praesentium rem rerum saepe ut
        veniam vero. Explicabo necessitatibus nobis nostrum sint soluta tempore! Tempore!
      </p>
    </div>

    <div class="sideArticle">
      <h2 class="something">Something</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur deserunt dolore doloribus
        earum fuga hic illo illum, in laboriosam maiores mollitia necessitatibus nobis praesentium rem rerum saepe ut
        veniam vero. Explicabo necessitatibus nobis nostrum sint soluta tempore! Tempore!
      </p>
    </div>

    <div class="tags">
      <a href="#" ng-repeat="tag in main.posts[0].tags | limitTo: 10">{{tag}}</a>
    </div>
  </aside>

  <div class="articles">
    <button class="btn-for-modal" ng-click='toggleModal()'>Add new article</button>
    <modal-dialog show='modalShown' width='750px' height='200px'>
      <form name="reviewForm" ng-submit="main.addPost()">
        <!--  Review Form -->
        <h4>Submit a Review</h4>
        <fieldset>
          <textarea ng-model="main.post.body" class="form-control" placeholder="Text content of the article" title="body"></textarea>
        </fieldset>
        <fieldset >
          <input ng-model="main.post.author" class="form-control" placeholder="Author name" title="author" />
        </fieldset>
        <fieldset >
          <input ng-model="main.post.title" class="form-control" placeholder="Post title" title="title" />
        </fieldset>
        <fieldset >
          <input type="submit" value="Submit Review" />
        </fieldset>
      </form>
    </modal-dialog>

    <article ng-repeat="post in main.posts | limitTo: 5">
      <div>
        <img src="images/img1.jpg">
      </div>
      <h3>
        <a href="#">{{post.title}}</a>
      </h3>
      <div class="articleInfo">
        <time>{{post.date.$date | date:'yyyy-MM-dd HH:mm'}}</time>
        <div class="author">{{post.author}}</div>
        <div class="social">
          <a href="#" class="fb">16</a>
          <a href="#" class="goo">7</a>
          <a href="#" class="twi">15</a>
          <a href="#" class="vk">16</a>
          <a href="#" class="ya">1</a>
        </div>
      </div>
      <p ng-bind-html="post.body | limitTo: 700"></p>
    </article>
  </div>

</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<!--script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script-->
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!--script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script-->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/Script.js"></script>
<!-- endbuild -->
</body>
</html>
